/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* Основні налаштування контейнера */
body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

/* Стилізація інпуту */
#datetime-picker {
  font-size: 18px;
  padding: 8px 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  width: 250px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#datetime-picker:hover {
  border-color: #000;
}

#datetime-picker:focus {
  border-color: #4e75ff;
}

/* Стилізація кнопки */
button[data-start] {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button[data-start]:hover {
  background-color: #2c50e0;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

/* Таймер */
.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #444;
}